.homepage__div{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fefcfc;
  }
  
  .homepage__div button {
    color: white;
    cursor: pointer;
  }
  