body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #323534;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar__div {
  background-color: #bbc8bd;
  margin-top: 10px;
  border-radius: 10px; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 300px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.homepage__div{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fefcfc;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbc8bd;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
  margin: 6px;
  border: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: fit-content;
}

.articles__div{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {

  margin-top: 10px;
  border-radius: 10px; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 400px;
  height: 40vh;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;

}

img{
  object-fit: cover;
}

.card h2 {
  font-style: italic;
}

.article_info{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.single_article_container{
  height: fit-content;
  margin-top: 15px;
  text-align: justify;
  color: #323534;
  background-color: #bbc8bd;
  margin-top: 30px;
  border-radius: 10px; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  min-height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.single_article_info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.loader{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
